@import 'mirotone/dist/styles.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #eee;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

body {
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
  padding-top: 0;
}

.container {
  color: white;
  background-image: url("Office_ORBIT_web.webp");
  background-size: cover;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: black;
  background-position: center;
  padding: var(--space-xxlarge);
  border-radius: var(--border-radius-xlarge);
}

img {
  max-width: 100%;
}

.button {
  text-decoration: none;
}

.error-text {
  color: #ff9d9d;
}

.success-text {
  color: #d6ff9d;
}

a:link.muted {
  color: lightgray;
}

/* visited link */
a:visited.muted {
  color: lightgray;
}

/* mouse over link */
a:hover.muted {
  color: white;
}

/* selected link */
a:active.muted {
  color: white;
}

.build-with-love {
  margin-top: 2rem;
  text-align: right;
}

.scrollable {
  overflow-y: auto;
}

span.emoji {
  letter-spacing: 0.5em;
}